### Create a List the customers that made purchases on black friday

The customers that made purchases on Black Friday were:

C00001, C00003, C00004, C00005 C00006, C00007, C00018, C00010, C00013, C00014, C00015, C00016 and C00029

Call your list `customer_list`.

In [15]:
customer_list=['C00001', 'C00003','C00004', 'C00005', 'C00006', 'C00007', 'C00018', 'C00010', 'C00013', 'C00014', 'C00015', 'C00016','C00029']

### Did C00009 make a purchase?

This customer said they made a purchase we're not seeing it in our data. If they did, we need to record the revenue.

Write code that returns 99.99 if C00009 is in the list. If not, return 0.0.

In [16]:
#Using if statement
customer = 'C00009'
if customer in customer_list:
    print (99.99)
else:
    print (0.0)

0.0

In [17]:
#using membership for the above statement
('C00009' in customer_list) * 99.99

0.0

### Market Research Samples

1. Using slicing, create a list containing the fifth and sixth customer in the list called `fifth_sixth`.

In [18]:
fifth_sixth=customer_list[4:6]

fifth_sixth

['C00006', 'C00007']

2. Create a list called `every_third` that contains every third customer in the list (1st, 4rd, 7th, and so on...).

In [19]:
every_third = customer_list[::3]

every_third

['C00001', 'C00005', 'C00018', 'C00014', 'C00029']

3. Finally, using slicing, create a list with the last two customers in our dataset, called `last_two`.

In [29]:
last_two = customer_list[-2:]

last_two

['C00016', 'C00029']

In [4]:
exchange_rate = 0.88

usd_list = [5.99,9.99,19.99,24.99,99.99]

euro_list=[]

for price in usd_list:
    euro_list.append(round(price * exchange_rate,2))
    
euro_list

[5.27, 8.79, 17.59, 21.99, 87.99]

In [8]:
customer_ratings =['5stars','3stars','5stars','4stars','4stars','1stars','4stars','5stars','2stars','5stars']

In [14]:
rating = int(customer_ratings[0][0])

rating
#for i in customer_ratings:
 #   print(i)

5

In [19]:
numeric_ratings = []

for i in customer_ratings:
   numeric_ratings.append(int(i[0]))

In [20]:
numeric_ratings

[5, 3, 5, 4, 4, 1, 4, 5, 2, 5]

In [21]:
sum(numeric_ratings)/ len (numeric_ratings)

3.8

In [22]:
euro_list= [5.99,9.99,19.99,24.99,99.99]

item_list = ['Snowboard','Boots','Helmet','Googles','Bindings']

for i in range(len(euro_list)):
    print(f"The {item_list [i].lower()} costs {euro_list[i]} euros.")

The snowboard costs 5.99 euros.
The boots costs 9.99 euros.
The helmet costs 19.99 euros.
The googles costs 24.99 euros.
The bindings costs 99.99 euros.

In [31]:
inventories_list = [10, 14, 10, 15, 8, 27]

prices = [2.99 ,99.99 , 219.99,89.99,29.99 , 9.99]

#for i in range(len(inventory)):
 #   print(round(inventory[i] * prices [i] ,2))

In [27]:
product_values = []

for i in range(len(inventory)):
    product_values.append((round(inventory[i] * prices [i] ,2)))

In [28]:
product_values

[29.9, 1399.86, 2199.9, 1349.85, 239.92, 269.73]

In [29]:
sum(product_values)

5489.16

In [30]:
product_values = []

In [33]:
for i, inventory in enumerate(inventories_list):
    product_values.append((round(inventory * prices [i] ,2)))

In [34]:
product_values

[29.9, 1399.86, 2199.9, 1349.85, 239.92, 269.73]

In [35]:
sum(product_values)

5489.16